
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MickeyMouse</title>
</head>
<body>
    <div> 
        <h1>Let 'em go</h1>
    </div>
</body>
<footer>
    <div>
        
    </div>
</footer>
</html>
